<div *ngIf="!identified" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title (click)="redir()" style="cursor:pointer;color:blue;text-decoration:underline;margin-top:20px">You need to log in or register</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
<div *ngIf="identified" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box" *ngFor="let dev of user?.devices">
    <mat-card-header>
      <mat-card-title>{{dev.name}}</mat-card-title>
    </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of dev.switches">{{item.name}}</li>
        </ul>
      </mat-card-content>
  </mat-card>
</div>
